<div class="container">
  <h1>Panel de aplicaciones disponibles</h1>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="card h-100">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">SAIGNa Local</h5>
              <p class="card-text">Sistema administrativo para instalaciones de gas natural, configurado en una red local.</p>
            </div>
            <div class="card-footer">
              <small class="text-body-secondary">Last updated 3 mins ago</small>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">SAIGNa Web - Hidrox</h5>
              <p class="card-text">Sistema configurado en la nube, con acceso necesariamente por internet.</p>
              <a class="nav-link" routerLink="/core/consultageneral" routerLinkActive="">++ Ingresar ++</a>
            </div>
            <div class="card-footer">
              <small class="text-body-secondary">Last updated 3 mins ago</small>
            </div>
          </div>
        </div>
    </div>
    <div class="cuadro">
        <p>aqui va el for</p>
    </div>
</div>